.block
  %h3 How to Create a Book
  .content
    %ol
      %li Start by Creating a new book
      %li Add Pages
.block
  %h3 Books
  %ul.navigation
    - Book.all.each do |b|
      %li=link_to b.title, url(:books, :choose, b.id)
