/*
Syntax error: Undefined variable: "$accent_color".
        on line 26 of /Users/therabidbanana/Desktop/projects/devsites/about_us/app/stylesheets/slideshow.scss

21:     overflow: hidden;
22: }
23: #imgscroll-legend {
24:     display: none;
25:     margin-bottom: 0px;
26:     background-color: $accent_color;
27: }
28: #imgscroll-legend p {
29:     margin-bottom: 0px;
30:     padding: 10px;
31:     color: #000;

Backtrace:
/Users/therabidbanana/Desktop/projects/devsites/about_us/app/stylesheets/slideshow.scss:26
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/script/variable.rb:45:in `_perform'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/script/node.rb:40:in `perform'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:215:in `visit_prop'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/engine.rb:291:in `_render'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/engine.rb:238:in `render'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/plugin/compiler.rb:181:in `update_stylesheets'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/plugin/compiler.rb:175:in `each'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/plugin/compiler.rb:175:in `update_stylesheets'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/plugin/compiler.rb:173:in `each'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/plugin.rb:81:in `update_stylesheets'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/plugin.rb:54:in `check_for_updates'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sass-3.1.1/lib/sass/../sass/plugin/rack.rb:51:in `call'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/rack-1.2.2/lib/rack/session/cookie.rb:37:in `call'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/rack-1.2.2/lib/rack/head.rb:9:in `call'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sinatra-1.2.6/lib/sinatra/showexceptions.rb:21:in `call'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/rack-1.2.2/lib/rack/methodoverride.rb:24:in `call'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sinatra-1.2.6/lib/sinatra/base.rb:1272:in `call'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sinatra-1.2.6/lib/sinatra/base.rb:1303:in `synchronize'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/sinatra-1.2.6/lib/sinatra/base.rb:1272:in `call'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/padrino-core-0.9.26/lib/padrino-core/router.rb:71:in `call'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/padrino-core-0.9.26/lib/padrino-core/router.rb:64:in `each'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/padrino-core-0.9.26/lib/padrino-core/router.rb:64:in `call'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/rack-1.2.2/lib/rack/mock.rb:71:in `request'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@about_us/gems/rack-1.2.2/lib/rack/mock.rb:56:in `get'
/Users/therabidbanana/Desktop/projects/devsites/about_us/Rakefile:35:in `create_files'
/Users/therabidbanana/Desktop/projects/devsites/about_us/Rakefile:35:in `open'
/Users/therabidbanana/Desktop/projects/devsites/about_us/Rakefile:35:in `create_files'
/Users/therabidbanana/Desktop/projects/devsites/about_us/Rakefile:45
/Users/therabidbanana/Desktop/projects/devsites/about_us/Rakefile:39:in `each'
/Users/therabidbanana/Desktop/projects/devsites/about_us/Rakefile:39
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:636:in `call'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:636:in `execute'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:631:in `each'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:631:in `execute'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:597:in `invoke_with_call_chain'
/Users/therabidbanana/.rvm/rubies/ruby-1.8.7-p334/lib/ruby/1.8/monitor.rb:242:in `synchronize'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:590:in `invoke_with_call_chain'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:607:in `invoke_prerequisites'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:604:in `each'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:604:in `invoke_prerequisites'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:596:in `invoke_with_call_chain'
/Users/therabidbanana/.rvm/rubies/ruby-1.8.7-p334/lib/ruby/1.8/monitor.rb:242:in `synchronize'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:590:in `invoke_with_call_chain'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:607:in `invoke_prerequisites'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:604:in `each'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:604:in `invoke_prerequisites'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:596:in `invoke_with_call_chain'
/Users/therabidbanana/.rvm/rubies/ruby-1.8.7-p334/lib/ruby/1.8/monitor.rb:242:in `synchronize'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:590:in `invoke_with_call_chain'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:583:in `invoke'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:2051:in `invoke_task'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:2029:in `top_level'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:2029:in `each'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:2029:in `top_level'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:2068:in `standard_exception_handling'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:2023:in `top_level'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:2001:in `run'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:2068:in `standard_exception_handling'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/lib/rake.rb:1998:in `run'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/gems/rake-0.8.7/bin/rake:31
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/bin/rake:19:in `load'
/Users/therabidbanana/.rvm/gems/ruby-1.8.7-p334@global/bin/rake:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$accent_color\".\A         on line 26 of /Users/therabidbanana/Desktop/projects/devsites/about_us/app/stylesheets/slideshow.scss\A \A 21:     overflow: hidden;\A 22: }\A 23: #imgscroll-legend {\A 24:     display: none;\A 25:     margin-bottom: 0px;\A 26:     background-color: $accent_color;\A 27: }\A 28: #imgscroll-legend p {\A 29:     margin-bottom: 0px;\A 30:     padding: 10px;\A 31:     color: #000;"; }
