@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'PTSerifRegular';
    src: url('../fonts/ptserif/pt_serif-web-regular-webfont.eot');
    src: url('../fonts/ptserif/pt_serif-web-regular-webfont.eot?iefix') format('eot'), url('../fonts/ptserif/pt_serif-web-regular-webfont.woff') format('woff'), url('../fonts/ptserif/pt_serif-web-regular-webfont.ttf') format('truetype'), url('../fonts/ptserif/pt_serif-web-regular-webfont.svg#webfontUKUF9e5Z') format('svg');
}


@font-face {
    font-family: 'DroidSans';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/droid/DroidSans-webfont.eot');
    src: url('../fonts/droid/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droid/DroidSans-webfont.woff') format('woff'),
         url('../fonts/droid/DroidSans-webfont.ttf') format('truetype'),
         url('../fonts/droid/DroidSans-webfont.svg#DroidSansRegular') format('svg');

}

@font-face {
    font-family: 'DroidSans';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/droid/DroidSans-Bold-webfont.eot');
    src: url('../fonts/droid/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droid/DroidSans-Bold-webfont.woff') format('woff'),
         url('../fonts/droid/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/droid/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');

}


